@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1496715976403-7e36dc43f17b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
}

#container {
  height: 80vh;
  width: 90vw;
  color: black;
  background-color: white;
}

h1 {
  margin-top: 3rem;
  margin-bottom: 2rem;
  border-bottom: 1px black solid;
}

.form2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

menu {
  margin-top: 10rem;
}

li {
  list-style: none;
  width: 5rem;
}

.btn1 a {
  background-color: #a63333;
  border: none;
  color: white;
  padding: 16px;
  text-align: center;
  font-size: 16px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  margin-bottom: 1rem;
}

.btn1 a:hover {
  opacity: 1;
}

@media (max-width: 760px) {
  menu {
    margin-top: 2rem;
  }
}
