@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1496715976403-7e36dc43f17b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
}

#container {
  height: 80vh;
  width: 90vw;
  color: black;
  background-color: white;
}

h1 {
  margin-left: 8.2rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.form2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form input {
  margin-top: 2rem;
  border: none;
  border-bottom: 2px gray solid;
  outline: 0;
  padding-bottom: 1rem;
  width: 27rem;
  margin-bottom: 2rem;
  margin: 2rem;
}

.btn1 {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.btn1 button {
  background-color: #a63333;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
}

.btn1 button:hover {
  opacity: 1;
}

@media (max-width: 992px) {
  .form input {
    width: 15rem;
  }
}

@media (max-width: 720px) {
  .form input {
    margin-top: 1rem;
  }
  .btn1 {
    margin-top: 0;
  }
}

@media (max-width: 361px) {
  h1 {
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: 1.5em;
  }
  .form input {
    margin-top: 0;
    width: 10rem;
  }
  .btn1 {
    margin-top: 0;
  }
  .btn1 button {
    padding: 0.5rem;
  }
}
